.product-container {
  width: 20%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #e91e63;
  background-color: #cfd8dc;
  color: #e91e63;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
